*.swp
.DS_Store
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/*.debhelper.log
debian/*.substvars
debian/control
debian/gettoken/
debian/gettoken-*/
debian/gettoken-contract-*.install
debian/integration-test-tool/
build/
