#!/usr/bin/make -f

%:
	dh $@

GOFLAGS = -trimpath -buildmode=pie -ldflags=-linkmode=external
export GOFLAGS

override_dh_auto_build:
	dh_auto_build -- prefix=/usr

override_dh_auto_test:

override_dh_dwz:
